{% extends "bases/form_base.html" %}

{% block title %}Edit form{% endblock %}

{% block content %}
    <script src="/static/js/edit_form.js" defer></script>

    <div class="toolbar">
        <div class="left">
            <div class="tooltip-wrapper">
                <button onclick="window.location.href='/forms'"><i class="fas fa-arrow-left"></i></button>

                <span class="tooltip-text">Back</span>
            </div>
        </div>
        <div class="right">
            <div class="tooltip-wrapper">
                <button onclick="openSettingsMenu(document.getElementById('settings'), 'settings')"><i class="fas fa-cog"></i></button>

                <span class="tooltip-text">Settings</span>
            </div>
            <div class="tooltip-wrapper">
                <button onclick="openSettingsMenu(document.getElementById('appearance'), 'appearance')"><i class="fas fa-tint"></i></button>

                <span class="tooltip-text">Edit appearance</span>
            </div>
            <div class="tooltip-wrapper">
                <button onclick="navigator.clipboard.writeText('https://${window.location.host}/form/{{ form.id }}')"><i class="fas fa-share"></i></button>

                <span class="tooltip-text">Copy to clipboard</span>
            </div>
        </div>
    </div>

    <div class="settings-menu">
        <div class="setting-options">
            <div class="tooltip-wrapper">
                <i id="settings" class="fas fa-cog" onclick="openSettingsMenu(this, 'settings')"></i>

                <span class="tooltip-text">Settings</span>
            </div>
            <div class="tooltip-wrapper">
                <i id="appearance" class="fas fa-tint" onclick="openSettingsMenu(this, 'appearance')"></i>

                <span class="tooltip-text">Edit appearance</span>
            </div>
        </div>
        <div class="setting settings">
            Require forms account
            Require email address
        </div>
        <div class="setting appearance">
            appearance settings
        </div>
    </div>

    <div class="new-section-wizard">
        <div class="new-section-wizard-content">
            <div class="section-options">
                <div class="tooltip-wrapper active" onclick="setSectionType(this, 1)">
                    <i class="fas fa-quote-right"></i>
    
                    <span class="tooltip-text">Question with literal text response.</span>
                </div>
                <div class="tooltip-wrapper active" onclick="setSectionType(this, 2)">
                    <i class="fas fa-keyboard"></i>
    
                    <span class="tooltip-text">Question with free text response.</span>
                </div>
                <div class="tooltip-wrapper active" onclick="setSectionType(this, 3)">
                    <i class="number">0</i>
    
                    <span class="tooltip-text">Question with number response.</span>
                </div>
                <div class="tooltip-wrapper active" onclick="setSectionType(this, 4)">
                    <i class="fas fa-calendar-alt"></i>
    
                    <span class="tooltip-text">Question with date response.</span>
                </div>
            </div>
    
            <div class="question">
                <label>Question</label>

                <textarea class="no-resize" placeholder="Any question (e.g. How many elephants fit in a fridge?)" id="question-input"></textarea>
            </div>
            <div class="answer">
                <label>Answer</label>

                <div class="answer-option"></div>

                <button class="secondary-btn" onclick="addToForm()">Add to form</button>
            </div>
        </div>
    </div>

    <div class="form edit-form">
        <div class="form-section form-meta">
            <h1><input type="text" value="{{ form.title }}" placeholder="Untitled form" onchange="updateFormMeta('{{ form.id }}', this.value, null)"></h1>
            {% if form.description != None %}
                <textarea onchange="updateFormMeta('{{ form.id }}', null, this.value)">{{ form.description }}</textarea>
            {% endif %}
        </div>

        {% for question in questions %}
            <div class="form-section form-question" id="{{ question.id }}" data-index="{{ question.index }}">
                <div class="section-type">
                    {% if question.question_type == 1 %}
                        <i class="fas fa-quote-right"></i>
                    {% elif question.question_type == 2 %}
                        <i class="fas fa-keyboard"></i>
                    {% elif question.question_type == 3 %}
                        <i class="number">0</i>
                    {% elif question.question_type == 4 %}
                        <i class="fas fa-calendar-alt"></i>
                    {% endif %}
                    <i class="fas fa-edit"></i>
                </div>
                <div class="section-content">
                    <h3>{{ question.question }}</h3>
                    {% if question.question_type == 3 %}
                        <input class="secondary-input" type="number" placeholder="0">
                    {% elif question.question_type == 4 %}
                        <input class="secondary-input" type="date">
                    {% else %}
                        <textarea class="secondary-input" placeholder="Your answer."></textarea>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-section new-section" onclick="newSection()">
            <div class="create-new-section new-section">
                <i class="fas fa-plus new-section"></i>
            </div>
        </div> 
    </div>
{% endblock %}