{% extends "bases/form_base.html" %}

{% block content %}
    {% for form in user_forms %}
        <div>
            {{ form.title }}
            <button class="secondary-btn" onclick="window.location.href='/forms/edit?id={{ form.id }}'">Edit</button>
            <button class="secondary-btn" onclick="window.open('/form/{{ form.id }}')">View</button>
        </div>
    {% endfor %}

    <button class="secondary-btn" onclick="window.location.href='/forms/create'">Create form</button>

    {{ total_size }}mb / 100mb

    idk?=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
{% endblock %}