{% extends "bases/form_base.html" %}

{% block title %}{{ form.title }}{% endblock %}

{% block content %}
    <div class="toolbar">
        <div class="tooltip-wrapper">
            <button onclick="window.location.href='/forms'"><i class="fas fa-arrow-left"></i></button>

            <span class="tooltip-text">Back</span>
        </div>
    </div>

    <div class="form">
        <div class="form-section form-meta">
            <h1>Form answers</h1>
            
            <div class="form-answer-toggle">
                <span>
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>
                    <i class="fas fa-chart-area"></i>
                </span>
                <span>
                    <i class="fas fa-arrow-right"></i>
                </span>
            </div>
        </div>

        {{ answers }}
    </div>
{% endblock %}