{% extends "bases/form_base.html" %}

{% block title %}{{ form.title }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/form.css">
    
    <script src="/static/js/form.js" defer></script>

    {% if user.theme %}
        <img class="logo" src="/static/images/mediapack/ad_{{ user.theme }}.png" onclick="window.location.href='/'">
    {% else %}
        <img class="logo" src="/static/images/mediapack/ad_light.png" onclick="window.location.href='/'">
    {% endif %}

    {% if captcha %}
        <div class="captcha">
            <h1>Human? Robot?</h1>
            {{ captcha }}
            <button class="primary-btn" onclick="loadForm()">Continue</button>
        </div>
    {% endif %}

    <div class="form"{% if not captcha %} style="display: block"{% endif %}>
        <div class="form-section form-meta">
            <h1>{{ form.title }}</h1>
            {% if form.description != None %}
                <p>
                    {{ form.description }}
                </p>
            {% endif %}

            <span>Required questions are marked with a<span class="required">*</span></span>
        </div>

        {% for question in questions %}
            <div class="form-section form-question{% if question.required %} required-question{% endif %}" id="question-{{ question.id }}">
                <div class="section-type">
                    {% if question.question_type == 1 %}
                        <i class="fas fa-quote-right"></i>
                    {% elif question.question_type == 2 %}
                        <i class="fas fa-keyboard"></i>
                    {% elif question.question_type == 3 %}
                        <i class="number">0</i>
                    {% elif question.question_type == 4 %}
                        <i class="fas fa-calendar-alt"></i>
                    {% endif %}
                </div>
                <div class="section-content">
                    <h3>{{ question.question }}{% if question.required %}<span class="required">*</span>{% endif %}</h3>
                    {% if question.question_type == 3 %}
                        <input class="secondary-input" type="number" placeholder="0">
                    {% elif question.question_type == 4 %}
                        <input class="secondary-input" type="date">
                    {% else %}
                        <textarea class="secondary-input" placeholder="Your answer."></textarea>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="submit">
            <button class="primary-btn" onclick="submit('{{ form.id }}', '{{ track_id }}')">Submit</button>
        </div>
    </div>
{% endblock %}