{% extends "bases/form_base.html" %}
{% load template_functions %}

{% block title %}Forms{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    
    <script src="/static/js/manage_form.js" defer></script>

    <div class="modal create-new-form">
        <div class="modal-content">
            <div class="modal-options">
                <div class="tooltip-wrapper active" onclick="setFormType(this, 1)">
                    <i class="far fa-file-alt"></i>
    
                    <span class="tooltip-text">Survay or form format.</span>
                </div>
                <div class="tooltip-wrapper active" onclick="setFormType(this, 2)">
                    <i class="fas fa-lightbulb"></i>
    
                    <span class="tooltip-text">Quiz format.</span>
                </div>
            </div>
    
            <div class="content">
                <div class="form-type type-1">
                    <h1><input type="text" maxlength="100" placeholder="Form title" value="Untitled form" id="title"></h1>

                    <textarea placeholder="Form description" maxlength="1000" id="description"></textarea>

                    <label class="checkmark-container">
                        Require account to answer.

                        <input type="checkbox" id="require-account">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="form-type type-2">
                    Coming soon
                </div>

                <div class="bottom">
                    <button class="primary-btn" onclick="createForm()">Create form</button>
                </div>
            </div>
        </div>
    </div>

    <div class="storage">
        Storage: <span id="storage-value">0</span>mb/50mb (<span id="storage-percent">0</span>% used)
    </div>

    <div class="user-forms">
        <div class="form-preview create-form" onclick="openNewForm()">
            <i class="fas fa-plus"></i>
        </div>

        {% for form in user_forms %}
            <div class="form-preview" id="form-{{ form.id }}">
                <img src="/static/images/forms/default.jpg">

                <div class="options">
                    <i class="fas fa-edit" onclick="window.location.href='/forms/edit?id={{ form.id }}'"></i><i class="fas fa-comment" onclick="window.location.href='/forms/answers?id={{ form.id }}'"></i><i class="fas fa-trash" onclick="deleteForm('{{ form.id}}')"></i>
                </div>

                <h3>{{ form.title }}</h3>
                <ul>
                    <li>
                        Type <span>{% if form.quiz %}Quiz{% else %}Survay{% endif %}</span>
                    </li>
                    <li>
                        Questions <span>{{ form.question_count }}</span>
                    </li>
                    <li>
                        Last edit <span>{{ form.last_edit_timestamp|relative_timestamp }}</span>
                    </li>
                    <li>
                        Created <span>{{ form.creation_timestamp|relative_timestamp }}</span>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}