{% extends "bases/form_base.html" %}

{% block title %}{{ form.title }}{% endblock %}

{% block content %}
    {% if user.theme %}
        <img class="logo" src="/static/images/mediapack/ad_{{ user.theme }}.png" onclick="window.location.href='/'">
    {% else %}
        <img class="logo" src="/static/images/mediapack/ad_light.png" onclick="window.location.href='/'">
    {% endif %}

    <div class="form">
        <div class="form-section form-meta">
            <h1>{{ form.title }}</h1>
            {% if form.description != None %}
                <p>
                    {{ form.description }}
                </p>
            {% endif %}
        </div>

        {% for question in questions %}
            <div class="form-section form-question">
                <div class="section-type">
                    {% if question.question_type == 1 %}
                        <i class="fas fa-quote-right"></i>
                    {% elif question.question_type == 2 %}
                        <i class="fas fa-keyboard"></i>
                    {% elif question.question_type == 3 %}
                        <i class="number">0</i>
                    {% elif question.question_type == 4 %}
                        <i class="fas fa-calendar-alt"></i>
                    {% endif %}
                </div>
                <div class="section-content">
                    <h3>{{ question.question }}</h3>
                    {% if question.question_type == 3 %}
                        <input class="secondary-input" type="number" placeholder="0">
                    {% elif question.question_type == 4 %}
                        <input class="secondary-input" type="date">
                    {% else %}
                        <textarea class="secondary-input" placeholder="Your answer." oninput='this.style.height = "";this.style.height = this.scrollHeight - 20 + "px"'></textarea>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="submit">
            <button class="primary-btn">Submit</button>
        </div>
    </div>
{% endblock %}