{% extends "bases/form_base.html" %}

{% block title %}Not found{% endblock %}

{% block content %}
    {% if user.theme != '' %}
        <img class="logo" src="/static/images/mediapack/ad_{{ user.theme }}.png" onclick="window.location.href='/'">
    {% else %}
        <img class="logo" src="/static/images/mediapack/ad_light.png" onclick="window.location.href='/'">
    {% endif %}

    <div class="form">
        <div class="form-section form-meta">
            <h1>No form found.</h1>
            <p>
                Looking to make a form of your own? Click <a href="/forms">here</a> to get started!
            </p>
        </div>
    </div>
{% endblock %}