:root {
    --font-family: 'Comfortaa-Light';
    --primary-clr: #76bcbb;
    --primary-clr-acc: #92cfce;
    --danger-clr: #ea7979;
    --rad: 10px;
    --pdd: 25px;
}

:root[data-theme="light"] {
    --primary-bg: #eff2f3;
    --secondary-bg: #e8ebec;
    --tertiary-bg: #d9d9d9;
    --primary-font-clr: #515459;
    --secondary-font-clr: #2a2c30;
}

:root[data-theme="dark"] {
    --primary-bg: #16181d;
    --secondary-bg: #1c1f26;
    --tertiary-bg: #576175;
    --primary-font-clr: #c6ccd8;
    --secondary-font-clr: #000;
}

::-webkit-scrollbar {
    display: none;
}
::placeholder {
    color: var(--primary-font-clr);
    opacity: .5;
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('/static/font/Comfortaa-Light.ttf');
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-font-clr);
    font-family: var(--font-family);
    margin: 0px;
    overflow-x: hidden;
}

h1, 
h3 {
    margin: 0px 0px var(--pdd) 0px;
}

h1 input {
    font-size: 32px;
}

hr {
    border: 1px solid var(--tertiary-bg);
    transition: .3s;
}
a {
    text-decoration: none;
    color: var(--primary-clr)
}

/* Inputs */
input, 
textarea {
    font-family: var(--font-family);
    color: var(--primary-font-clr);
    font-size: 16px;
    border: none;
    transition: all .3s ease;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    padding: calc(var(--pdd) / 2);
    outline: 2px solid var(--secondary-bg);
}
textarea {
    resize: none;
}
input:focus,
textarea:focus {
    outline: 2px solid var(--tertiary-bg);
}
input:hover,
textarea:hover {
    cursor: pointer;
}

input[type="submit"] {
    user-select: none;
}

/* CHECKBOXES */
.checkmark-container {
    display: block;
    position: relative;
    padding-left: var(--pdd);
    cursor: pointer;
    user-select: none;
    text-align: left;
}
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark-container input:checked ~ .checkmark {
    background-color: var(--primary-clr);
}
.checkmark-container input:checked ~ .checkmark:after {
    opacity: 1;
}
.checkmark-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border-radius: 5px;
    background-color: var(--secondary-bg);
    transition: all .2s ease;
}
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all .2s ease;
}

/* BUTTONS */
button {
    padding: calc(var(--pdd) / 2) var(--pdd);
    height: calc(var(--pdd) * 2);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--primary-font-clr);
    transition: .3s;
}
button:hover {
    cursor: pointer;
}
button.primary-btn {
    background-color: var(--primary-clr);
    color: var(--secondary-font-clr)   
}
button.primary-btn:hover {
    background-color: var(--primary-clr-acc);
}
button.secondary-btn {
    background-color: var(--tertiary-bg);
}
button.secondary-btn:hover {
    background-color: var(--secondary-bg);
}

/* TOOLTIPS */
.tooltip-wrapper {
    position: relative;
    display: inline-block;
}
  
.tooltip-wrapper .tooltip-text {
    visibility: hidden;
    max-width: 200px;
    background-color: var(--secondary-bg);
    color: var(--primary-font-clr);
    text-align: center;
    border-radius: var(--rad);
    padding: calc(var(--pdd) / 3) calc(var(--pdd) / 2);
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 5px;
    font-size: 16px;
}
.tooltip-wrapper .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-bg) transparent;
}
.tooltip-wrapper:hover {
    cursor: pointer;
}
.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
}

/* DARK OVERLAY */
.dark-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

/* MODALS */
.modal {
    position: fixed;
    z-index: 10;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    aspect-ratio: 1/1;
    background-color: var(--primary-bg);
    transition: .3s;
    padding: var(--pdd);
    border-radius: var(--rad);
}
.modal input,
.modal textarea {
    width: calc(100% - var(--pdd));
}

.modal .modal-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal .modal-options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 25px;
    transition: .3s;
}

.modal .modal-options div:not(:last-child) {
    margin-right: var(--pdd);
}
.modal .modal-options .tooltip-wrapper .tooltip-text {
    width: 300px;
}
.modal .modal-options .tooltip-wrapper {
    color: var(--tertiary-bg);
    transition: .3s;
}
.modal .modal-options .tooltip-wrapper:hover {
    cursor: pointer;
    color: var(--primary-font-clr);
}
.modal .modal-options .tooltip-wrapper.active {
    color: var(--primary-font-clr);
}

.modal .content {
    padding-top: calc(var(--pdd) * 3);
    height: calc(100% - var(--pdd) * 3);
    display: none;
    flex-direction: column;
}
.modal .content .bottom {
    margin-top: auto;
    text-align: center;
}

/* LOGO */
img.logo {
    position: fixed;
    top: var(--pdd);
    left: var(--pdd);
    height: calc(var(--pdd) * 3);
}
img.logo:hover {
    cursor: pointer;
}

/* ALERTS & NOTIFICATIONS */
.alert {
    position: absolute;
    top: var(--pdd);
    right: var(--pdd);
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + var(--pdd)));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
  
.alert.active {
    transform: translateX(0%);
}
  
.alert .alert-content {
    display: flex;
    align-items: center;
}
  
.alert-content .alert-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: var(--primary-clr);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.error .alert-content .alert-icon i {
    background-color: var(--danger-clr);
}
  
.alert-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
  
.message .text {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-font-clr);
}
  
.message .text.text-1 {
    font-weight: 600;
    color: var(--secondary-font-clr);
}
  
.alert .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
  
.alert .close:hover {
    opacity: 1;
}
  
.alert .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  
}
  
.alert .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-clr);
}
.alert.error .progress:before {
    background-color: var(--danger-clr);
}
  
.progress.active:before {
    animation: progress 5s linear forwards;
}
  
@keyframes progress {
    100% {
      right: 100%;
    }
}