:root {
    --primary-bg: #eff2f3;
    --secondary-bg: #e8ebec;
    --tertiary-bg: #d9d9d9;
    --font-family: 'Comfortaa-Light';
    --primary-font-clr: #515459;
    --primary-clr: #76bcbb;
    --rad: 10px;
    --pdd: 25px;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('/static/font/Comfortaa-Light.ttf');
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-font-clr);
    font-family: var(--font-family);
    margin: 0px;
}

h1, 
h3 {
    margin: 0px 0px var(--pdd) 0px;
}

h1 input {
    font-size: 32px;
}

hr {
    border: 1px solid var(--tertiary-bg);
    transition: .3s;
}
a {
    text-decoration: none;
    color: var(--primary-clr)
}

/* Inputs */
input, 
textarea {
    font-family: var(--font-family);
    color: var(--primary-font-clr);
    font-size: 16px;
    border: none;
    transition: all .3s ease;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    padding: calc(var(--pdd) / 2);
    outline: 2px solid var(--secondary-bg);
}
textarea {
    resize: none;
}
input:focus,
textarea:focus {
    outline: 2px solid var(--tertiary-bg);
}
input:hover,
textarea:hover {
    cursor: pointer;
}

input[type="submit"] {
    user-select: none;
}

/* CHECKBOXES */
.checkmark-container {
    display: block;
    position: relative;
    padding-left: var(--pdd);
    cursor: pointer;
    user-select: none;
    text-align: left;
}
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark-container input:checked ~ .checkmark {
    background-color: var(--primary-clr);
}
.checkmark-container input:checked ~ .checkmark:after {
    opacity: 1;
}
.checkmark-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border-radius: 5px;
    background-color: var(--secondary-bg);
    transition: all .2s ease;
}
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all .2s ease;
}

/* BUTTONS */
button {
    padding: calc(var(--pdd) / 2) var(--pdd);
    height: calc(var(--pdd) * 2);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--primary-font-clr);
    transition: .3s;
}
button:hover {
    cursor: pointer;
}
button.secondary-btn {
    background-color: var(--tertiary-bg);
}
button.secondary-btn:hover {
    background-color: var(--secondary-bg);
}

/* TOOLTIPS */
.tooltip-wrapper {
    position: relative;
    display: inline-block;
}
  
.tooltip-wrapper .tooltip-text {
    visibility: hidden;
    max-width: 200px;
    background-color: var(--secondary-bg);
    color: var(--primary-font-clr);
    text-align: center;
    border-radius: var(--rad);
    padding: calc(var(--pdd) / 3) calc(var(--pdd) / 2);
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 5px;
    font-size: 16px;
}
.tooltip-wrapper .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-bg) transparent;
}
.tooltip-wrapper:hover {
    cursor: pointer;
}
.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
}

/* DARK OVERLAY */
.dark-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

/* MODALS */
.modal {
    position: fixed;
    z-index: 10;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    aspect-ratio: 1/1;
    background-color: var(--primary-bg);
    transition: .3s;
    padding: var(--pdd);
    border-radius: var(--rad);
}
.modal input,
.modal textarea {
    width: calc(100% - var(--pdd));
}

/* LOGO */
img.logo {
    position: fixed;
    top: var(--pdd);
    left: var(--pdd);
    height: calc(var(--pdd) * 3);
}