/* CREATE NEW FORM */
.create-new-form {
    display: flex;
    flex-direction: column;
}
.create-new-form textarea {
    height: 100px;
    margin: 0px 0px var(--pdd) 0px;
}
.create-new-form .bottom {
    text-align: center;
    margin-top: auto;
}

/* TOOLBAR */
.toolbar {
    position: fixed;
    width: calc(100vw - var(--pdd) * 4);
    padding: calc(var(--pdd) * 2);
    top: 0px;
}
.toolbar .left {
    float: left;
}
.toolbar .right {
    float: right;
}

.toolbar button {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    border-radius: 50%;
}
.toolbar button:hover {
    background-color: var(--tertiary-bg);
}

/* SETTINGS MENU */
.settings-menu .setting-options {
    text-align: center;
    font-size: 25px;
    color: var(--tertiary-bg);
}
.settings-menu .setting-options i:not(:last-child) {
    margin-right: var(--pdd)
}
.settings-menu .setting-options i.active {
    color: var(--primary-font-clr);
}
.settings-menu .setting {
    display: none;
    margin-top: var(--pdd);
}

/* NEW SECTION WIZARD */
.new-section-wizard-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.new-section-wizard .section-options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 25px;
    transition: .3s;
}
.new-section-wizard .section-options div:not(:last-child) {
    margin-right: var(--pdd);
}
.new-section-wizard .section-options .tooltip-wrapper .tooltip-text {
    width: 300px;
}
.new-section-wizard .section-options .tooltip-wrapper {
    color: var(--tertiary-bg);
    transition: .3s;
}
.new-section-wizard .section-options .tooltip-wrapper:hover {
    cursor: pointer;
    color: var(--primary-font-clr);
}
.new-section-wizard .section-options .tooltip-wrapper.active {
    color: var(--primary-font-clr);
}

.new-section-wizard label {
    margin-bottom: calc(var(--pdd) / 2);
    font-size: 20px;
    display: block;
}
.new-section-wizard .question {
    display: none;
    width: 100%;
    padding-top: calc(var(--pdd) * 3);
    height: calc(250px - var(--pdd) * 3);
}
.new-section-wizard .question textarea {
    height: 100px;
}

.new-section-wizard .answer {
    display: none;
    height: calc(500px - var(--pdd) * 3);
}
.new-section-wizard .answer .answer-option {
    height: 100%;
}
.new-section-wizard .answer .answer-option textarea {
    height: calc(100% - var(--pdd) * 2.5);
}

.new-section-wizard button {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/* FORM */
.form {
    width: 750px;
    margin: 10% auto;
}

.form-section {
    border-radius: var(--rad);
    padding: var(--pdd);
    transition: .3s;
    margin-bottom: var(--pdd);
}
.form-section input,
.form-section textarea {
    width: calc(100% - var(--pdd));
}

.edit-form .form-section:hover {
    background-color: var(--secondary-bg);
    cursor: pointer;
}

.form-section.form-question {
    display: flex;
    align-items: center;
}
.form-question .section-type {
    width: calc(var(--pdd) * 2);
    margin-left: var(--pdd);
    font-size: 25px;
}
.form-question .section-type i:nth-child(2) {
    margin-top: calc(var(--pdd) / 2)
}
.form-question .section-content {
    width: calc(100% - var(--pdd) * 3);
}

.form-section.new-section {
    border: 2px dashed var(--tertiary-bg);
    text-align: center;
}
.form-section.new-section:hover {
    background-color: unset;
    border: 2px dashed var(--primary-font-clr);
}
.form-section.new-section:hover .create-new-section {
    border: 2px solid var(--primary-font-clr);
    color: var(--primary-font-clr);
}

i.number {
    font-style: normal;
    font-weight: bold;
    width: 25px;
}
p {
    margin: 0px;
}

.create-new-section {
    width: 50px;
    height: 50px;
    border: 2px solid var(--tertiary-bg);
    color: var(--tertiary-bg);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.create-new-section i {
    width: 18px;
    height: 18px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}