/* CREATE NEW FORM */
.create-new-form {
    display: flex;
    flex-direction: column;
}
.create-new-form textarea {
    height: 100px;
    margin: 0px 0px var(--pdd) 0px;
}
.create-new-form .bottom {
    text-align: center;
    margin-top: auto;
}

/* STORAGE */
.storage {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-bg);
    text-align: center;
    padding: var(--pdd);
    border-radius: var(--rad);
    font-size: 20px;
}

/* FORMS LIST */
.user-forms {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--pdd) / 2);
    justify-content: center;
    padding: 10%;
}
.form-preview {
    height: 400px;
    width: 200px;
    margin: calc(var(--pdd) / 2);
    background-color: var(--secondary-bg);
    padding: var(--pdd);
    border-radius: var(--rad);
}
.form-preview img {
    border-radius: var(--rad) var(--rad) 0px 0px;
    margin: calc(var(--pdd) * -1);
    height: 225px;
    width: 250px;
    object-fit: cover;
}
.form-preview .options {
    text-align: center;
    margin-bottom: var(--pdd);
}
.form-preview .options i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--pdd) * 2);
    height: calc(var(--pdd) * 2);
    background-color: var(--primary-bg);
    border-radius: 50%;
    color: var(--primary-font-clr);
    transition: all .3s;
    box-shadow: 0px 0px 5px var(--quaternary-bg);
}
.form-preview .options i:not(:last-child) {
    margin-right: var(--pdd);
}
.form-preview .options i:hover {
    cursor: pointer;
    background-color: var(--tertiary-bg);
}
.form-preview h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.form-preview ul {
    padding: 0px;
    list-style: none;
}
.form-preview ul li {
    margin-bottom: calc(var(--pdd) / 5);
}
.form-preview span {
    float: right;
}

.form-preview.create-form {
    background-color: unset;
    border: 2px dashed var(--tertiary-bg);
    height: 396px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s;
}
.form-preview.create-form:hover {
    cursor: pointer;
    border: 2px dashed var(--primary-font-clr);
}
.form-preview.create-form i {
    width: 50px;
    height: 50px;
    border: 2px solid var(--tertiary-bg);
    color: var(--tertiary-bg);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.form-preview.create-form:hover i {
    border: 2px solid var(--primary-font-clr);
    color: var(--primary-font-clr);
}