<div class="form-section form-question{% if question.required %} required-question{% endif %}" id="question-{{ question.id }}">
    <div class="section-type">
        {% if question.question_type == 1 %}
        <i class="fas fa-quote-right"></i>
        {% elif question.question_type == 2 %}
        <i class="fas fa-keyboard"></i>
        {% elif question.question_type == 3 %}
        <i class="number">0</i>
        {% elif question.question_type == 4 %}
        <i class="fas fa-calendar-alt"></i>
        {% endif %}
    </div>
    <div class="section-content">
        <h3>{{ question.question }}{% if question.required %}<span class="required">*</span>{% endif %}</h3>

        {% if question.answers %}
            <ol>
                {% for answer in question.answers %}
                    <li>
                        {{ answer.answer }}
                    </li>
                {% endfor %}
            <ol>
        {% elif not edit %}
            {% if question.question_type == 3 %}
                <input class="secondary-input" type="number" placeholder="0">
            {% elif question.question_type == 4 %}
                <input class="secondary-input" type="date">
            {% else %}
                <textarea class="secondary-input" placeholder="Your answer."></textarea>
            {% endif %}
        {% elif form.quiz %}
            quiz
        {% endif %}
    </div>
</div>