<!DOCTYPE html>
<html>
<head>
    <!-- Icon -->
    <link rel="icon" href="/static/images/mediapack/icon.png"> 

    <!-- Meta rules -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Surway - {% block title %}Page{% endblock %}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/auth.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css">

    <!-- Custom jS -->
    <script src="/static/js/auth.js" defer></script>
    <script src="/static/js/basics.js" defer></script>

    <!-- None custom Scripts -->
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script src="https://kit.fontawesome.com/697d2afc76.js" crossorigin="anonymous"></script>

    <script>
        theme = '{{ user.theme }}'

        if (theme === '') {
            theme = 'light'
        }

        document.documentElement.setAttribute('data-theme', theme);
    </script>
</head>
<body> 
    {% for message in messages %}
        <div class="alert active">
            <div class="alert-content">
                <span class="alert-icon">
                    <i class="fas fa-solid fa-check check"></i>
                </span>

                <div class="message">
                <span class="text text-1">{{ message.tags|title }}</span>
                <span class="text text-2">{{ message }}</span>
                </div>
            </div>
            <i class="fas fa-times close" onclick="closeAlert()"></i>

            <div class="progress"></div>
        </div>
    {% endfor %}

    <div class="alert">
        <div class="alert-content">
            <span class="alert-icon">
                <i class="fas fa-solid fa-check check"></i>
            </span>

            <div class="message">
            <span class="text text-1">Success</span>
            <span class="text text-2">Your changes has been saved</span>
            </div>
        </div>
        <i class="fas fa-times close" onclick="closeAlert()"></i>

        <div class="progress"></div>
    </div>
    
    <img class="logo" src="/static/images/mediapack/logo_transparent.png" onclick="window.location.href='/'">

    {% block content %}{% endblock %}
</body>
</html>